body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffbc05;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

h3 {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: inline-block;
  width: 100px;
}

.input-group input[type='text'] {
  width: calc(100% - 110px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  background-color: #fff;
}

#results {
  font-size: 18px;
  color: #333;
}

#guide {
  margin-top: 20px;
}

#guide h3 {
  margin-bottom: 5px;
}

#guide p {
  margin: 5px 0;
}
